e-banking-client/src/main/java/dev/sekousow/ebankingclient/proxy/ebanking.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sekousow.dev/ebanking" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://sekousow.dev/ebanking" name="BankAccountService">
<types>
<xsd:schema>
<xsd:import namespace="http://sekousow.dev/ebanking" schemaLocation="http://localhost:8282/ws/ebanking?xsd=1"/>
</xsd:schema>
</types>
<message name="CreateAccount">
<part name="parameters" element="tns:CreateAccount"/>
</message>
<message name="CreateAccountResponse">
<part name="parameters" element="tns:CreateAccountResponse"/>
</message>
<message name="ConvertEuroToDirham">
<part name="parameters" element="tns:ConvertEuroToDirham"/>
</message>
<message name="ConvertEuroToDirhamResponse">
<part name="parameters" element="tns:ConvertEuroToDirhamResponse"/>
</message>
<message name="GetAllAccounts">
<part name="parameters" element="tns:GetAllAccounts"/>
</message>
<message name="GetAllAccountsResponse">
<part name="parameters" element="tns:GetAllAccountsResponse"/>
</message>
<portType name="AccountService">
<operation name="CreateAccount">
<input wsam:Action="http://sekousow.dev/ebanking/AccountService/CreateAccountRequest" message="tns:CreateAccount"/>
<output wsam:Action="http://sekousow.dev/ebanking/AccountService/CreateAccountResponse" message="tns:CreateAccountResponse"/>
</operation>
<operation name="ConvertEuroToDirham">
<input wsam:Action="http://sekousow.dev/ebanking/AccountService/ConvertEuroToDirhamRequest" message="tns:ConvertEuroToDirham"/>
<output wsam:Action="http://sekousow.dev/ebanking/AccountService/ConvertEuroToDirhamResponse" message="tns:ConvertEuroToDirhamResponse"/>
</operation>
<operation name="GetAllAccounts">
<input wsam:Action="http://sekousow.dev/ebanking/AccountService/GetAllAccountsRequest" message="tns:GetAllAccounts"/>
<output wsam:Action="http://sekousow.dev/ebanking/AccountService/GetAllAccountsResponse" message="tns:GetAllAccountsResponse"/>
</operation>
</portType>
<binding name="AccountServicePortBinding" type="tns:AccountService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="CreateAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConvertEuroToDirham">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetAllAccounts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BankAccountService">
<port name="AccountServicePort" binding="tns:AccountServicePortBinding">
<soap:address location="http://localhost:8282/ws/ebanking"/>
</port>
</service>
</definitions>